// override UIkit default variables
$darkblue: #222831;
$blue: #393E46;
$yellow: #FFD369;
$white: #EEEEEE;

$global-primary-background: $darkblue;
$global-secondary-background: $blue;

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";
